
*{margin: 0;padding: 0}
body{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1612682260/BOUNCE%20MRG/fwor1_mq3quh.gif);background-size: cover;background-position: center;width: 100vw;height: 100vh;background-repeat: no-repeat;
background-attachment: fixed}
#swas{display: block;margin: 20px auto;box-shadow: inset 5px 25px 35px #FCC400;padding: 30px;border-radius: 0px 0px 95px 95px;
background: rgba(0,0,0,0.8); transform-origin: top center;
	animation: swing 2s ease infinite;}
    @keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg);box-shadow: inset 5px 25px 35px #FC6B00;padding-left: 60px }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); box-shadow: inset 5px 25px 35px #ECB700;padding-right: 60px}	
	100% { transform: rotate(0deg); }
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;

}
.card{
position: relative;
background: rgba(0,0,0,0.8);box-shadow: inset 5px 25px 35px #0059FC;
width: 100%;
height: 100%;
margin: 0 auto;display: block;margin:  0 auto;
}

.card .content{
width: 95vw;
padding: 30px 30px 30px 30px;
box-sizing: border-box;
font-weight: bold;;
}
.card .chabi{
      width: 347px;
      height: 140px;
      border-radius: 5px;margin: 0 auto;border: 2px solid #333232;

}
.card .chabi img{
      width: 100%;
      height: 100%;border-radius: 5px
}

.card .sliderText{
position: relative;
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0,71,252,0.7);
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
     max-width: 350px;
      max-height: 500px;margin-top: 55px;box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px #0006FA;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 350px;
}

.swiper-slide:nth-child(1) .sliderText{
background: rgba(0,71,252,0.5);box-shadow: inset 5px 10px 55px #00EEC4;font-family: 'Mukti', Arial, sans-serif !important
}
.swiper-slide:nth-child(1) .content{
color: #0059FC;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-slide:nth-child(2) .sliderText{
background: rgba(235,0,232,0.5);box-shadow: inset 5px 10px 55px #FEA100;font-family: 'Mukti', Arial, sans-serif !important;
}
.swiper-slide:nth-child(2) .content{
color: #FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-slide:nth-child(2) .card{
box-shadow: inset 5px 25px 35px #FD00FA;
}
.swiper-button-prev{
   background-color: rgba(0, 0, 0, 0.8);border-radius: 5px;animation: bounce 2s infinite;
}
.swiper-button-next{
    background-color: rgba(0, 0, 0, 0.8);border-radius: 5px;animation: bouncey 2s infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateX(-15px);}
	60% {transform: translateX(-15px);}
}
@keyframes bouncey {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateX(15px);}
	60% {transform: translateX(15px);}
}
 .sucu{background: rgba(0,0,0,0.7);border-radius: 26px;box-shadow: inset 5px 5px 15px #FD00FA;}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: #FDB900;
    font-family: 'Mukti', Arial, sans-serif !important;}
    .nai{text-align: center;color: #FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: #FD00FA;font-family: 'Kalpurush', sans-serif;
color: white;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:#FDB900;font-size: 24px;font-weight: bold;font-family: 'Mukti', Arial, sans-serif !important;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:#FDB900;font-size: 24px;font-weight: bold;font-family: 'Mukti', Arial, sans-serif !important;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;} 
    .proja{text-align: center;font-family: 'Mukti', Arial, sans-serif !important;font-size: 27px;width: 280px;padding: 2px;border-radius:  16px ;
    display: block;margin: 0 auto;color: #0059FC;animation: bor 3s linear infinite;background: rgba(0,0,0,0.7);
    box-shadow: inset 0 5px 15px #0059FC;font-weight: bold}  
    #fontcss{margin-top: 15px;margin-bottom: 20px;color: #FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 22px;
    background: rgba(0,0,0,0.7);width: 145px;padding: 11px;border-radius: 0px 45px 45px 0px;box-shadow: inset 5px 5px 15px}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;
    margin-bottom: 40px;color: #FD00FA;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;
    background: rgba(0,0,0,0.7);padding: 11px;box-shadow: inset  0 7px 40px}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;background: rgba(0,0,0,0.7);border-radius: 0px 90px 25px 0px;padding: 3px;box-shadow: inset 0 7px 15px #FDC400 ;
    animation: bounce-in-right 5s ease infinite;}
    @keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(30px); }
  100% { transform: translateX(-240px); }
}

    .nibe{text-align: right;color: #FD00FA;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%;
    background: rgba(0,0,0,0.7);width: 130px;padding: 11px;border-radius: 25px 0px 0px 90px;box-shadow: inset 0 5px 15px #FD00FA}
    h2{text-align: center;background: rgba(0,0,0,0.7);width: 150px;padding: 11px;display: block;margin: 0 auto;margin-bottom: 30px;
    border-radius: 8px;margin-top: 60px;box-shadow: inset 5px 5px 15px;color: #FD00FA;font-family: 'Mukti', Arial, sans-serif !important;
    font-weight: bold; animation: gelatine 0.5s infinite;}
    @keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
    
    footer{
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.7);box-shadow: inset 5px 5px 15px #FC0018;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #00AB30;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}